
<div class="card">
    <div class="card-body">

<form action="/usuarios/login" method="POST">
            <label for="email">Email </label>
            <input type="email = id" name="email" class="form-control">
            <label for="Senha">Senha</label>
            <input type="password"  name="senha" class="form-control">
            <div class="container mt-2"></div>
            <button type="submit" class="btn btn-success">Entrar</button>
            <br>
        </form>


    </div>
</div>